{% extends '::base.html.twig' %}


{% block body %}


<!-- Begin Slider -->
<div id="slider">
  <div id="slider-wrapper">
    <div id="faded">
      <div class="rap">
	    {% for post in SliderPosts %}
		
		<img src="{{ asset(['images/', post.photo]|join) }}" alt="{{ post.title}}"  width="930" height="365"/>
		<!--<div><iframe src="http://player.vimeo.com/video/14200462?title=0&amp;byline=0&amp;portrait=0" width="930" height="350"></iframe></div>-->
		
		{% endfor %}
     
        
        
		</div>
      <div class="move"> <a href="#" class="prev">prev</a> <a href="#" class="next">next</a> </div>
    </div>
  </div>
</div>
<!-- End Slider -->
<div class="clearfix"></div>

<!-- Begin Container -->
<div id="container">
 <!-- Begin Intro -->
 {% for intro in IntroPosts %}
 <h1 class="intro">{{ intro.title}}<span></span></h1>
 {% endfor %}
     
 <!-- End Intro -->
  
  <!-- Begin 4 Columns -->
  <div class="col4-wrap">
  
  
  
  	<!-- Begin 1st Col -->
	{% for service in services %}
    <div class="col4 center"> <img src="{{ asset(['images/', service.photo]|join) }}"" width="62" height="64" class="center" alt="{{service.title }}" />
      <h3>{{service.title }}</h3>
      <p>{{service.body|raw('html') }}</p>
      <div class="view">
        <div class="button blue">View Details<span></span></div>
      </div>
    </div>
	{% endfor %}
    <!-- Begin 1st Col -->
    
    
    
   
    
  </div>
  <!-- End 4 Columns -->
  
  
  <!-- Begin 2 Columns -->
  <div class="col2-wrap">
    
    <!-- Begin 1st Col -->
    <div class="col2">
      <h2 class="about">About Us</h2>
      {% for about in aboutus %}
	  {{ about.body|raw('html') }}
      <a href="content/{{ about.id }}" class="button2">Read more about us<span></span></a> </div>
    {% endfor %}
     <!-- Begin 2nd Col -->
    <div class="col2">
    
      <!-- Begin Latest Works -->
      <div class="latest">
        <h2 class="work">Latest Work</h2>
        <ul class="frame">
		{% for album in latest_work %}
          <li><a href="{{ asset(['images/', album.photo]|join) }}" rel="zoombox[latest]" title="1"><img src="{{ asset(['images/', album.photo]|join) }}" width="80" height="80" alt="{{ album.title }}" class="left small" /></a></li>
		 {% endfor %}
          
        </ul>
      </div>
      <!-- End Latest Works -->
      
    </div><!-- End 2nd Col -->
  </div>
  <!-- End 2 Columns -->
</div>
<!--End Container -->


{% endblock %}
